/* Variables */
:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
}
ul,
ol,
nav {
  list-style: none;
}
a {
  text-decoration: none;
}
/* .global styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-grayish-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--color-soft-red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-soft-orange);
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--color-off-white);
}

.sections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  &__nav {
    display: flex;
    li {
      padding: 2rem;
      a {
        color: var(--color-very-dark-blue);
        transition: 0.3s ease-in-out;
        &:hover {
          color: var(--color-soft-red);
        }
      }
    }
  }
}
//  Hero
.hero {
  grid-column: 1/3;
  &__info {
    display: flex;
    align-items: center;
    &-heading {
      flex: 1;
      font-weight: 800;
      font-size: 6rem;
      color: var(--color-very-dark-blue);
    }
    &-text {
      flex: 1;
      p {
        font-size: 2rem;
        line-height: 1.5;
        color: var(--color-dark-grayish-blue);
        margin-top: 1rem;
      }
      button {
        background-color: var(--color-soft-red);
        color: var(--color-very-dark-blue);
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 1.2rem 2.4rem;
        text-transform: uppercase;
        margin: 2rem 0;
        transition: 0.3s ease;
        &:hover {
          background-color: var(--color-very-dark-blue);
          color: var(--color-soft-orange);
        }
      }
    }
  }
}
//  Articles
.articles {
  padding: 1.5rem 1rem;
  background-color: var(--color-very-dark-blue);
  color: var(--color-off-white);
  grid-column: 3/4;
  h2 {
    color: var(--color-soft-orange);
    font-weight: semi-bold;
    margin-bottom: 1.8rem;
  }
  .article {
    padding: 3rem 0.5rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--color-grayish-blue);
    }
    h3 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.9rem;
      color: var(--color-grayish-blue);
      line-height: 1.5;
    }
  }
}
// Posts
.posts {
  display: flex;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  .post {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    img {
      width: 10rem;
    }
    h3 {
      font-size: 2.6rem;
      color: var(--color-soft-red);
      font-weight: bold;
    }
    h4 {
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--color-very-dark-blue);
      margin: 1rem 0;
    }
    p {
      color: var(--color-dark-grayish-blue);
      line-height: 1.5;
    }
  }
}
.attribution {
  margin-top: 3.6rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
// Responsive styles
@media (max-width: 850px) {
  .container {
    max-width: 90%;
  }
  html {
    font-size: 8px;
  }
  .sections-container {
    display: flex;
    flex-direction: column;
  }
  .hero__info {
    text-align: center;
    flex-direction: column;
  }
  .articles {
    text-align: center;
  }
  .posts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .post {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero__info-heading {
    font-size: 4.5rem;
  }
  .header__nav {
    display: none;
    transition: 0.3s;
  }
  .header:has(.header__nav.show) .burger-menu {
    margin-right: 1.6rem;
    align-self: flex-end;
  }
  .header:has(.header__nav.show) .header__links {
    padding: 2rem 0;
    z-index: 2;
    position: fixed;
    background-color: var(--color-off-white);
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .header:has(.header__nav.show) .header__links::before {
    content: "";
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: -1;
  }
  .header__nav.show {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-self: flex-start;
    li {
      padding: 1rem;
    }
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    align-self: center;
  }
  .burger-menu__bar {
    background-color: var(--color-very-dark-blue);
    width: 4.375rem;
    height: 0.4rem;
    transition: 0.3s;
  }
  .burger-menu.checked .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .burger-menu.checked .burger-menu__bar:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }
  .burger-menu.checked .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
}

.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
  transform: translateY(10px) rotate(40deg);
}
.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
  transform: translateY(-7px) rotate(-40deg);
}
